 .cent-right {
 	text-align: right !important;
 }

 .cent-left {
 	text-align: left !important;
 }

 .cent-hidden{
 	display: none !important;
 }

 label{
 	font-weight: bold !important;
 }

 @media (max-width: 768px) {
  .cent-right {
      text-align: center !important;
      padding-top: 10px !important;
   }

   .cent-left {
      text-align: center !important;
   }
}

.clickable_row{
        cursor: pointer;
    }
.clickable_row.selected{
    background-color: #c9fcff;
}

.clickable_row.selected:hover{
    background-color: #02baae;
    color: white;
}

small{
  padding-top: 5px;
  font-weight: bold !important;
}